name: Sync Labels

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create labels
        uses: marocchino/create-labels@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          labels-file: .github/labels.yml
